body{
    display: flex;
    background-image: url("mountain-9726891.jpg"); /* tu imagen */
  background-repeat: no-repeat; 
  background-size: cover;        /* evita el mosaico */
             /* hace que la imagen cubra todo */         /* centra la imagen */
}